:root {
    --primary-color: #5465FF;
    --secondary-color: #788BFF;
    --accent1-color: #9BB1FF;
    --accent2-color: #BFD7FF;
  
    --heading-font: 'Sedan SC', serif;
    --paragraph-font: 'Sedan SC', serif;
  
    --nav-background-color: #E2FDFF;
    --nav-link-color: #5465FF;
    --nav-hover-link-color: #E2FDFF;
    --nav-hover-background-color: #5465FF;
}

body {
    font-family: var(--paragraph-font);
    max-width: 100%;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    background-color: var(--accent1-color); 
    position: relative;
    max-width: 100%;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-between; 
    padding: 0; 
}

.navigation li {
    flex: 1; 
    margin: 0; 
}

.navigation a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem; 
}

.navigation a:link,
.navigation a:visited {
    color: var(--nav-link-color);
}

.navigation a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


.content {
    width: 10%;
    margin: auto;
}

.hero {
    position: relative;
    width: 100%;
    height: 50%;
}

.hero img {
    display: block;
    width: 100%;
    height: 50%;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 5rem;
    text-align: center;
    width: 80%;
}

.hero p img {
    display: block;
    width: 20%;
    height: 50%;
}

.hero2 {
    position: relative;
    width: 100%;
    height: 50%;
}

.hero2 img {
    display: block;
    width: 100%;
    height: 50%;
}

.hero2 h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: white;
    font-size: 5rem;
    text-align: right;
    width: 80%;
}

.hero2 p img {
    display: block;
    width: 20%;
    height: 50%;
}


.box .column {
    flex: 1;
    margin: 0 5px;
}

footer {
    background-color: var(--accent2-color); 
    padding: 0px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    justify-content: flex-end;
}

.sociallinks {
    margin-top: 10px;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.sociallinks a {
    display: inline-block;
    margin: 0 10px;
}

.sociallinks img {
    width: 24px;
    height: auto;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    height: auto;
    margin: auto;
    display: inline-block;
    flex: 0 0 auto;
    padding: 5px;
    justify-content: space-between;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    text-align: center;
  }
  input[type="submit"] {
    margin-top: 10px;
    }
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
  }
  button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }

  
  
  button:hover {
    background-color: #9BB1FF;
  }

  .box-container {
    display: flex;
    justify-content: space-between;
}


.box {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    background-color: #5465FF;
    border: 1px solid #788BFF;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.box2 {
    width: 30%;
    margin-bottom: 20px;
    background-color: #5465FF;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}
.box-container2 {
    display: flex;
    justify-content: space-between;
}


.column img {
    width: 100%;
    height: auto;
}

