main {
    max-width: 840px;
    text-align: center;
}

aside{
    width:20rem;
    margin:1rem;
    border: 1px solid #ffffff;
    padding: 1rem;
    background-color: hwb(251 0% 28%);
    color: hsl(0, 0%, 100%);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    text-align: center;
}

main img{
    width: 300px;
    height: auto;
    

p {padding: 0;}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}